<div>
  <h1 class="font-bold text-4xl">Publics#articles</h1>
  <div id="articles" class="min-w-full">
    <% @articles.each do |article| %>
      <p>
        <%= article.title%>
      </p>
      <p>
        <%= article.slug%>
      </p>
      <p>
        <%= link_to  published_article(article) do %>
          <%=article.title%>
        <%end%>
      </p>
    <% end %>
  </div>
</div>
