<nav>
  <ul class="flex justify-center space-x-3">
    <li>
      <%= link_to root_path do %>
          Acceuil
      <%end%>
    </li>
    <li>
      <%= link_to emissions_path do %>
        Emissions
      <%end%>
    </li>
    <li>
      <%= link_to articles_path do %>
        Artilces
      <%end%>
    </li>
  </ul>
</nav>